.main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
/* Top Navigation */
header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}
.header-left-navbar {
	padding-top: 12px;
	padding-left: 18px;
	display: flex;
}
.header-right-navbar {
	padding-top: 12px;
	padding-right: 18px;
	display: flex;
}
.header-left-navbar > * {
	padding: 12px;
	color: black;
	font-family: "Arial";
	font-size: 14px;
	text-decoration: none;
}
.header-left-navbar > *:hover {
	text-decoration: underline;
}
.header-right-navbar__profile {
	width: 32px;
	height: 32px;
	padding-top: 3px;
	padding-left: 20px;
}
.header-right-navbar__apps {
	width: 24px;
	height: 24px;
	padding-top: 7px;
	padding-left: 20px;
}
.header-right-navbar__item {
	padding: 12px;
	color: black;
	font-family: "Arial";
	font-size: 14px;
	text-decoration: none;
}
.header-right-navbar__item:hover {
	text-decoration: underline;
}

/* .top-navbar {
	list-style-type: none;
	margin: 0;
	padding: 10px;
}
.top-navbar__item {
	float: left;
}
.top-navbar__item-details {
	display: block;
	color: black;
	text-align: center;
	padding: 12px 12px;
	text-decoration: none;
	font-family: "Arial";
	font-size: 14px;
}
.top-navbar__item-details:hover {
	text-decoration: underline;
} */
/* Google Logo */
.logo-container {
	display: flex;
	padding-top: 95px;
	justify-content: center;
}
/* Search Bar  */
.search-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 35px;
}
.search-container__search-bar {
	width: 35%;
	height: 40px;
	border-radius: 20px;
	border: 1px solid lightgrey;
	padding-left: 50px;
}
.search-container__search-icon {
	position: relative;
	top: -33px;
	left: -17%;
	color: lightgray;
	z-index: 1;
}
.button-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 25px;
}
.button-container__search-button {
	padding: 15px;
	color: black;
	text-decoration: none;
	font-family: "Arial";
	font-size: 14px;
}
.button-container__search-button:hover {
	border-style: solid;
	border-width: 1px;
	border-color: lightgrey;
}
/* Footer Navbar */
footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	height: 47px;
	width: 100%;
	bottom: 0;
	left: 0;
	background-color: #ecedee;
}
.footer-left-navbar {
	padding-left: 18px;
	display: flex;
}
.footer-right-navbar {
	padding-right: 18px;
	display: flex;
	justify-content: flex-end;
}
.footer-left-navbar > *,
.footer-right-navbar > * {
	display: block;
	padding: 12px;
	color: gray;
	font-family: "Arial";
	font-size: 14px;
	text-decoration: none;
}
.footer-left-navbar > *:hover,
.footer-right-navbar > *:hover {
	text-decoration: underline;
}
